<%= form_for User.new, url: signin_path do |f|  %>
  <div class="row">
    <div class="col-sm-9 mx-auto">
      <%= f.text_field :username, class: "mt-2 mb-3", placeholder: 'Username' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 mx-auto">
      <%= f.password_field :password, class: "mt-3 mb-3", placeholder: 'Password' %>
    </div>
  </div><br><br>
  <div class="row">
    <div class="col-sm-7 mx-auto">
      <%= f.submit "Sign In", class: "btn full" %>
    </div>
  </div><br>
<% end %>
  <div class="row">
    <div class="col-sm-7 mx-auto">
      <a href='/auth/facebook' class="btn fb-btn full">
        <%= image_tag "fb-icon.png", class: "fb-icon" %>
        <span>Sign In</span>
      </a>
    </div>
  </div><br>
  <div>
    <div class="col-sm-8 mx-auto">
      <%= link_to "New User?", new_user_path, class: "session-link" %>
    </div>
  </div>
