<%= form_for User.new, url: signin_path do |f|  %>
  <div class="row">
    <div class="col-sm-12 mx-auto">
      <%= f.label :username %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-11 mx-auto">
      <%= f.text_field :username %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 mx-auto">
      <%= f.label :password %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-11 mx-auto">
      <%= f.password_field :password %>
    </div>
  </div><br><br>
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <%= f.submit "Sign In", class: "btn" %>
    </div>
  </div>
<% end %>
