<%= form_for tee_time_form_route(tee_time, user, course) do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <p>Select A Time</p>
      <%= check_for_errors(tee_time.errors, [:time]) %>
      <%= select_tag "tee_time[time][hour]", options_from_collection_for_select((7..19).to_a, :to_i, :to_i), prompt: "Hour"  %>
      <%= select_tag "tee_time[time][day]", options_from_collection_for_select((1..30).to_a, :to_i, :to_i), prompt: "Day"  %>
      <%= select_tag "tee_time[time][month]", options_from_collection_for_select((1..12).to_a, :to_i, :to_i), prompt: "Month"  %>
    </div>
  </div><br><br>

  <% if @course %>
    <%= f.hidden_field :course_id, value: course.id %>
  <% else %>
    <div class="row">
      <div class="col-sm-12 mx-auto">
        <%= f.label :course_id, "Select Course" %>
        <%= check_for_errors(tee_time.errors, [:"course.name"]) %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9 mx-auto">
        <%= f.collection_select :course_id, Course.all, :id, :name, include_blank: "Add new course" %>
      </div>
    </div><br>

    <p>OR</p>

    <p> <em>*Name and Location are required to create a new course</em></p>
    <%= f.fields_for :course, tee_time.build_course do |cf| %>

      <div class="row">
        <div class="col-sm-12 mx-auto">
          <%= cf.label :name, "New Course Name" %>
          <%= check_for_errors(tee_time.errors, [:"course.name"]) %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9 mx-auto">
          <%= cf.text_field :name %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 mx-auto">
          <%= cf.label :description, "New Course Description" %>
          <%= check_for_errors(tee_time.errors, [:"course.decription"]) %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9 mx-auto">
          <%= cf.text_field :description %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 mx-auto">
          <%= cf.label :location, "New Course Location" %>
          <%= check_for_errors(tee_time.errors, [:"course.location"]) %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9 mx-auto">
          <%= cf.text_field :location%>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 mx-auto">
          <%= cf.label :image, "New Course Image" %>
          <%= check_for_errors(tee_time.errors, [:"course.image"]) %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 mx-auto">
          <%= cf.text_field :image %>
        </div>
      </div><br>

      <div class="row details">
        <div class="col-sm-3 mx-auto">
          <%= cf.label :par %>
        </div>
        <div class="col-sm-3 mx-auto">
          <%= cf.label :length %>
        </div>
        <div class="col-sm-3 mx-auto">
          <%= cf.label :price %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 mx-auto">
          <%= check_for_errors(tee_time.errors, [:"course.par", :"course.length", :"course.price"]) %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 mx-auto">
          <%= cf.text_field :par %>
        </div>
        <div class="col-sm-3 mx-auto">
          <%= cf.text_field :length %>
        </div>
        <div class="col-sm-3 mx-auto">
          <%= cf.text_field :price %>
        </div>
      </div><br><br>

    <% end %>
  <% end %>

  <div class="row">
    <div class="col-sm-7 mx-auto">
      <%= f.submit "Create Tee Time", class: "btn" %>
    </div>
  </div>
<% end %>
