<%= form_for tee_time_form_route(tee_time, user, course) do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <p>Select A Time</p>
      <%= check_for_errors(tee_time.errors, [:time]) %>
      <%= f.datetime_select :time, ampm: true, start_year: Time.now.year, end_year: Time.now.year + 1, start_hour: 7, end_hour: 19, minute_step: 15 %>
    </div>
  </div><br>

  <% if @course %>
    <%= f.hidden_field :course_id, value: course.id %>
  <% else %>
    <div class="row">
      <div class="col-sm-12 mx-auto">
        <%= f.label :course_id, "Select Course" %>
        <%= check_for_errors(tee_time.errors, [:"course.name"]) %>
      </div>
    </div>
    <div class="row<%= " field_with_errors" unless tee_time.errors[:"course.name"].empty? %>">
      <div class="col-sm-9 mx-auto">
        <%= f.collection_select :course_id, Course.all, :id, :name, include_blank: "Add new course" %>
      </div>
    </div><br>

    <p>OR</p>

    <p> <em>*Name and Location are required to create a new course</em></p>
    <%= f.fields_for :course, tee_time.build_course do |cf| %>

      <div class="row">
        <div class="col-sm-12 mx-auto">
          <%= cf.label :name, "New Course Name" %>
          <%= check_for_errors(tee_time.errors, [:"course.name"]) %>
        </div>
      </div>
      <div class="row<%= " field_with_errors" unless tee_time.errors[:"course.name"].empty? %>">
        <div class="col-sm-9 mx-auto">
          <%= cf.text_field :name %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 mx-auto">
          <%= cf.label :description, "New Course Description" %>
          <%= check_for_errors(tee_time.errors, [:"course.decription"]) %>
        </div>
      </div>
      <div class="row<%= " field_with_errors" unless tee_time.errors[:"course.description"].empty? %>">
        <div class="col-sm-9 mx-auto">
          <%= cf.text_area :description %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 mx-auto">
          <%= cf.label :location, "New Course Location" %>
          <%= check_for_errors(tee_time.errors, [:"course.location"]) %>
        </div>
      </div>
      <div class="row<%= " field_with_errors" unless tee_time.errors[:"course.location"].empty? %>">
        <div class="col-sm-9 mx-auto">
          <%= cf.text_field :location%>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 mx-auto">
          <%= cf.label :image, "New Course Image" %>
          <%= check_for_errors(tee_time.errors, [:"course.image"]) %>
        </div>
      </div>
      <div class="row<%= " field_with_errors" unless tee_time.errors[:"course.image"].empty? %>">
        <div class="col-sm-9 mx-auto">
          <%= cf.text_field :image %>
        </div>
      </div><br>

      <div class="row details">
        <div class="col-sm-1"></div>
        <div class="col-sm-3 mx-auto">
          <%= cf.label :par %>
        </div>
        <div class="col-sm-3 mx-auto">
          <%= cf.label :length %>
        </div>
        <div class="col-sm-3 mx-auto">
          <%= cf.label :price %>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-sm-9 mx-auto">
          <%= check_for_errors(tee_time.errors, [:"course.par", :"course.length", :"course.price"]) %>
        </div>
      </div>

      <div class="row<%= " field_with_errors" unless tee_time.errors[:"course.par"].empty? && tee_time.errors[:"course.length"].empty? && tee_time.errors[:"course.price"].empty? %>">
        <div class="col-sm-1"></div>
        <div class="col-sm-3 mx-auto">
          <%= cf.text_field :par %>
        </div>
        <div class="col-sm-3 mx-auto">
          <%= cf.text_field :length %>
        </div>
        <div class="col-sm-3 mx-auto">
          <%= cf.text_field :price %>
        </div>
        <div class="col-sm-1"></div>
      </div><br><br>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col-sm-7 mx-auto">
      <%= f.submit "Create Tee Time", class: "btn" %>
    </div>
  </div>
<% end %>
