<div class="col-lg-6">
  <div class="tee-time-card<%= tee_time_status(tee_time) %>">
    <a href="<%= show_route(tee_time) %>">
      <% if tee_time.users.include?(current_user) %>
        <div class="joined-marker">
          <%= Octicons::Octicon.new("check", {height: 16, width: 16}).to_svg.html_safe %>
        </div>
      <% end %>
      <%= check_for_course(tee_time) %>
      <h5><%= format_tee_time(tee_time) %></h5>
      <p><%= group_description(tee_time) %></p>
    </a>
  </div>
</div>
