<div class="col-sm-6">
  <div class="tee-time-card<%= size_status(tee_time) %>">
    <a href="<%= show_route(tee_time) %>">
      <%= check_for_course(tee_time) %>
      <h5><%= format_tee_time(tee_time) %></h5>
      <p><%= tee_time.group_description %></p>
    </a>
  </div>
</div>
