<div class="container">
  <div class="row">
    <div class="col-sm-8 mx-auto">
    <% if @user %>
      <h1>All Tee Times for <%= @user.username %></h1>
    <% else %>
      <h1>Tee Times</h1>
    <% end %>
    </div>
  </div><br>

<% unless @user %>

  <% if policy(TeeTime.new).create? %>
  <div class="row">
    <div class="col-sm-12 mx-auto">
      <%= link_to "Create New Tee Time", new_tee_time_path, class: "btn" %>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-sm-10 mx-auto filter-card">
      <%= form_tag tee_times_path, method: "get", class: "form-horizontal" do %>
        <div class="row">
          <div class="col-sm-5">
            <h5>Group Size</h5>
          </div>
          <div class="col-sm-5">
            <h5>Status</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <%= generate_group_size_checkboxes(1, 4, @sizes) %>
          </div>
          <div class="col-sm-5">
            <%= generate_status_radio_buttons(["active", "inactive", "all"], @status) %>
          </div>
          <div class="col-sm-2">
            <%= submit_tag "Filter", class: "btn", id: "filterBtn" %>
          </div>
        </div>
      <% end %>
    </div>
  </div><br>
  <% end %>
  <div class="row" id="teeTimeCards">
    <%= render @tee_times %>
  </div>
</div>
