<div class="container">
  <div class="row">
    <div class="col-sm-8 mx-auto tee-time-show-card">
      <div class="row">
        <div class="col-sm-12 mx-auto">
          <h2><%= link_to @tee_time.course.name, course_path(@tee_time.course), id: "course-link" %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 mx-auto">
          <h3><%= format_tee_time_long(@tee_time) %></h3>
        </div>
      </div><br>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
          <h5><strong>Group Size: </strong></h5>
        </div>
        <div class="col-sm-3">
          <p><%= @tee_time.group_size %>/4</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
          <h5><strong>Average Pace: </strong></h5>
        </div>
        <div class="col-sm-3">
          <p><%= @tee_time.avg_pace %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
          <h5><strong>Average Experience: </strong></h5>
        </div>
        <div class="col-sm-3">
          <p><%= @tee_time.avg_experience %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-10 mx-auto user-list">
          <div class="row">
            <% @tee_time.users.each do |user| %>
              <div class="col-sm-6">
                <div class="row">
                  <a href="<%= user_path(user) %>" class="tee-time-user">
                    <div class="row">
                      <div class="col-sm-4">
                        <%= image_tag user.get_image, class: "tee-time-pic" %>
                      </div>
                      <div class="col-sm-8">
                        <div class="row">
                          <div class="col-sm-12">
                            <p><strong><%= user.username %></strong></p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <p>Pace: <%= user.pace %></p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <p>Experience: <%= user.experience %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            <% end %>
            <% @tee_time.guests.each do |guest| %>
              <div class="col-sm-6">
                <div class="row">
                  <div class="tee-time-guest">
                    <div class="row">
                      <div class="col-sm-4">
                        <%= image_tag "user-default.jpg", class: "tee-time-pic" %>
                      </div>
                      <div class="col-sm-8">
                        <div class="row">
                          <div class="col-sm-12">
                            <p><strong><%= guest %>'s Guest</strong></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div><br>

      <% if @tee_time.joinable?(current_user) %>
        <div class="row">
          <div class="col-sm-5 mx-auto">
            <%= form_tag '/user_tee_times', method: 'post' do %>
              <%= hidden_field_tag "user_tee_time[tee_time_id]", @tee_time.id %>
              <%= hidden_field_tag "user_tee_time[user_id]", current_user.id %>
              <%= submit_tag "Join Tee Time", class: 'btn' %>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @tee_time.users.include?(current_user) %>
        <div class="row">
        <% if @tee_time.available? %>
          <div class="col-sm-4 mx-auto">
            <%= form_tag "/user_tee_times/#{get_user_tee_time(@tee_time, current_user)}", method: 'patch' do %>
              <%= hidden_field_tag "operation", 1 %>
              <%= submit_tag "Add a Guest", class: 'btn' %>
            <% end %>
          </div>
        <% end %>
        <% if current_user.has_guests?(@tee_time) %>
          <div class="col-sm-4 mx-auto">
            <%= form_tag "/user_tee_times/#{get_user_tee_time(@tee_time, current_user)}", method: 'patch' do %>
              <%= hidden_field_tag "operation", -1 %>
              <%= submit_tag "Remove a Guest", class: 'btn warning' %>
            <% end %>
          </div>
        <% end %>
          <div class="col-sm-4 mx-auto">
            <%= form_tag "/user_tee_times/#{get_user_tee_time(@tee_time, current_user)}", method: 'delete' do %>
              <%= submit_tag "Leave Tee Time", class: 'btn warning' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <%= form_for @tee_time.comments.build(user_id: current_user.id) do |f| %>
      <%= f.hidden_field :tee_time_id, value: @tee_time.id %>
      <%= f.text_field :content, placeholder: "join the conversation!" %>
      <%= f.submit "Add Comment", class: "btn", id: "addCommentBtn" %>
    <% end %>
  </div><br>
  <div id="comments">
    <% if @comments %>
      <% @comments.each do |comment| %>
        <div class="row">
          <div class="col-sm-12">
            <h4><%= comment.content %>-<%= comment.user.username %></h4><br>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
