<div class="container">
  <div class="row">
    <div class="col-sm-8 mx-auto tee-time-show-card">
      <div class="row">
        <div class="col-sm-12 mx-auto">
          <h2><%= link_to @tee_time.course.name, course_path(@tee_time.course), id: "course-link" %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 mx-auto">
          <h3><%= format_tee_time_long(@tee_time) %></h3>
        </div>
      </div><br>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
          <p><strong>Group Size: </strong></p>
        </div>
        <div class="col-sm-3">
          <p><span id="groupSize"><%= @tee_time.group_size %></span>/4</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
          <p><strong>Average Pace: </strong></p>
        </div>
        <div class="col-sm-3">
          <p><span id="avgPace"><%= @tee_time.avg_pace %></span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
          <p><strong>Average Experience: </strong></p>
        </div>
        <div class="col-sm-3">
          <p><span id="avgExperience"><%= @tee_time.avg_experience %></span></p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-10 mx-auto user-list">
          <div class="row">
            <% @tee_time.users.each do |user| %>
              <div class="col-md-6 userCard" id="<%= "currentUser" if user.id == current_user.id %>" data-id="<%= get_user_tee_time(@tee_time, user) %>">
                <div class="row">
                  <a href="<%= user_path(user) %>" class="tee-time-user">
                    <div class="row">
                      <div class="col-sm-4">
                        <%= image_tag user.get_image, class: "tee-time-pic" %>
                      </div>
                      <div class="col-sm-8">
                        <div class="row">
                          <div class="col-sm-12">
                            <p><strong class="username"><%= user.username %></strong></p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <p>Pace: <%= user.pace %></p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <p>Experience: <%= user.experience %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            <% end %>
            <% @tee_time.guests.each do |guest| %>
              <div class="col-md-6<%= " userGuest" if guest == current_user.username %>">
                <div class="row">
                  <div class="tee-time-guest">
                    <div class="row">
                      <div class="col-sm-4">
                        <%= image_tag "user-default.jpg", class: "tee-time-pic" %>
                      </div>
                      <div class="col-sm-8">
                        <div class="row">
                          <div class="col-sm-12">
                            <p><strong><%= guest %>'s Guest</strong></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5 col-lg-4 mx-auto" id="joinDiv">
          <%= form_tag '/user_tee_times', method: 'post', id: "joinTeeTime" do %>
            <%= hidden_field_tag "user_tee_time[tee_time_id]", @tee_time.id %>
            <%= hidden_field_tag "user_tee_time[user_id]", current_user.id %>
            <%= submit_tag "Join Tee Time", class: 'btn full-width', id: "joinBtn", disabled: disabled?(current_user, @tee_time, "join") %>
          <% end %>
        </div>
        <div class="col-md-5 col-lg-4 mx-auto" id="addDiv">
          <%= form_tag "/user_tee_times/#{get_user_tee_time(@tee_time, current_user)}", method: 'patch', id: 'addGuest' do %>
            <%= hidden_field_tag "operation", 1 %>
            <%= submit_tag "Add a Guest", class: 'btn full-width', id: "addBtn", disabled: disabled?(current_user, @tee_time, "add") %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5 col-lg-4 mx-auto" id="leaveDiv" data-id="<%= get_user_tee_time(@tee_time, current_user) %>">
          <%= form_tag "/user_tee_times/#{get_user_tee_time(@tee_time, current_user)}", method: 'delete', id: "leaveTeeTime" do %>
            <%= submit_tag "Leave Tee Time", class: 'btn leave full-width', id: "leaveBtn", disabled: disabled?(current_user, @tee_time, "leave") %>
          <% end %>
        </div>

        <div class="col-md-5 col-lg-4 mx-auto" id="removeDiv">
          <%= form_tag "/user_tee_times/#{get_user_tee_time(@tee_time, current_user)}", method: 'patch', id: 'removeGuest' do %>
            <%= hidden_field_tag "operation", -1 %>
            <%= submit_tag "Remove a Guest", class: 'btn leave full-width', id: "removeBtn", disabled: disabled?(current_user, @tee_time, "remove") %>
          <% end %>
        </div>
      </div>
    </div>
  </div><br>
</div>


<div class="container <%= hidden?(current_user, @tee_time) %>" id="commentSection">
  <div class="row">
    <div class="col-sm-4 mx-auto">
      <button type="button" name="button" class="btn" id="toggleComments" data-id="<%= @tee_time.id %>">To Comments</button>
    </div>
  </div><br>

  <div class="row">
    <div class="col-9 mx-auto" id="comments">
    </div>
  </div>
</div>

<div class="row hidden" id="commentForm">
  <div class="col-sm-8 mx-auto">
    <%= form_for @tee_time.comments.build(user_id: current_user.id) do |f| %>
      <%= f.hidden_field :tee_time_id, value: @tee_time.id %>
      <div class="row">
        <div class="col-md-9">
          <%= f.text_field :content, placeholder: "join the conversation!" %>
        </div>
        <div class="col-md-3">
          <%= f.submit "Add Comment", class: "btn", id: "addCommentBtn" %>
        </div>
      </div>
    <% end %>
  </div>
</div><br>


<script id="user-card-template" type="text/x-handlebars-template">
  <div class="col-md-6 userCard hidden" data-id="{{id}}" id="currentUser">
    <div class="row">
      <a href="/users/{{id}}" class="tee-time-user">
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag "user-default.jpg", class: "tee-time-pic" %>
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-12">
                <p><strong class="username">{{username}}</strong></p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p>Pace: {{pace}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p>Experience: {{experience}}</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</script>

<script id="guest-card-template" type="text/x-handlebars-template">
  <div class="col-md-6 hidden userGuest">
    <div class="row">
      <div class="tee-time-guest">
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag "user-default.jpg", class: "tee-time-pic" %>
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-12">
                <p><strong>{{user.username}}'s Guest</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

<script id="comment-template" type="text/x-handlebars-template">
  <div class="row commentDiv my-2" data-id="{{id}}">
    <div class="col-12 comment-content">
      <div class="row">
        <div class="col-lg-2 border-right-2">
          <p class="username mb-1">{{user.username}}</p>
          <p class="timestamp">{{created_at_formatted}}</p>
        </div>
        <div class="col-lg-9">
          <p class="content">{{content}}</p>
        </div>
        <div class="col-lg-1">
          <button class="hidden comment-edit" data-url="/comments/{{id}}">
            <%= Octicons::Octicon.new("pencil").to_svg.html_safe %>
          </button><br>
          <button class="hidden comment-remove" data-url="/comments/{{id}}">
            <%= Octicons::Octicon.new("x").to_svg.html_safe %>
          </button>
        </div>
      </div>
    </div>
  </div>
</script>
