<div class="container">
  <div class="row">
    <div class="col-sm-8 mx-auto tee-time-show-card">
      <div class="row">
        <div class="col-sm-12 mx-auto">
          <h2><%= @tee_time.course.name %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 mx-auto">
          <h3><%= format_tee_time_long(@tee_time) %></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h5>Group Size: <%= @tee_time.group_size %>/4</h5>
        </div>
        <div class="col-sm-12">
          <h5>Average Pace: <%= @tee_time.avg_pace %></h5>
        </div>
        <div class="col-sm-12">
          <h5>Average Experience: <%= @tee_time.avg_experience %></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h5>Golfers:</h5>
          <ul>
            <% @tee_time.users.each do |user| %>
              <div class="row">
                <div class="col-sm-10">
                  <li><%= link_to "- #{user.username} (Pace: #{user.pace}, Experience: #{user.experience})", user_path(user)%></li>
                </div>
              </div>
            <% end %>
          </ul>
        </div>
      </div>
      <% if @tee_time.joinable?(current_user) %>
        <div class="row">
          <div class="col-sm-5 mx-auto">
            <%= form_tag '/user_tee_times', method: 'post' do %>
              <%= hidden_field_tag "user_tee_time[tee_time_id]", @tee_time.id %>
              <%= hidden_field_tag "user_tee_time[user_id]", current_user.id %>
              <%= submit_tag "Join Tee Time", class: 'btn' %>
            <% end %>
          </div>
        </div>
      <% end %>
      <% if @tee_time.users.include?(current_user) %>
      <div class="row">
        <div class="col-sm-5 mx-auto">
          <%= form_tag "/user_tee_times/#{get_user_tee_time(@tee_time, current_user)}", method: 'delete' do %>
            <%= hidden_field_tag "user_tee_time[tee_time_id]", @tee_time.id %>
            <%= hidden_field_tag "user_tee_time[user_id]", current_user.id %>
            <%= submit_tag "Leave Tee Time", class: 'btn' %>
          <% end %>
        </div>
      </div>
      <% end %>
  </div>
</div>
