<%= form_for user do |f| %>

  <% if user.errors.any? %>
    <div id="error_explanations">
      <h4>There were <%= pluralize(user.errors.size, "error") %>:</h4>
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :pace %>
    <%= f.text_field :pace %>
  </p>

  <p>
    <%= f.label :experience %>
    <%= f.text_field :experience %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>

  <%= f.submit class: "btn" %>
<% end %>
