<div class="container">
  <div class="row">
    <div class="col-sm-12 mx-auto profile-summary">
      <div class="row">
        <div class="col-sm-3">
          <div>
            <%= image_tag @user.image, class: "profile-pic" %>
          </div>
        </div>
        <div class="col-sm-8 col-sm-offset-1">
          <div class="row">
            <% if @user.admin? %>
              <h5 class="admin">Admin</h5>
            <% else %>
              <h4></h4>
            <% end %>
          </div>
          <div class="row">
            <div class="col-sm-12 mx-auto">
              <h1 class="profile-title"><%= @user.username %></h1>
            </div>
          </div>
            <div class="container">
              <div class="row">
                <div class="col-sm-4">
                  <p class="stat"><strong>User Since: </strong></p>
                </div>
                <div class="col-sm-4">
                  <p><%= format_created_at(@user) %></p>
                </div>
                <div class="col-sm-3">
                  <p class="stat"><strong>Pace: </strong></p>
                </div>
                <div class="col-sm-1">
                  <p><%= @user.pace if @user.pace %></p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <p class="stat"><strong>Favorite Course: </strong></p>
                </div>
                <% unless @user.courses.empty? %>
                <div class="col-sm-4 fav-course">
                  <p><%= link_to @user.favorite_course.name, user_favorite_course_path(@user) %></p>
                </div>
                <% end %>
                <div class="col-sm-3">
                  <p class="stat"><strong>Experience: </strong></p>
                </div>
                <div class="col-sm-1">
                  <p><%= @user.experience if @user.experience %></p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <p class="stat"><strong>Active Tee Times: </strong></p>
                </div>
                <% unless @user.courses.empty? %>
                <div class="col-sm-4">
                  <p><%= @user.active_tee_times.size %></p>
                </div>
                <% end %>
                <div class="col-sm-3">
                  <p class="stat"><strong>All-Time: </strong></p>
                </div>
                <div class="col-sm-1">
                  <p><%= @user.tee_times.size %></p>
                </div>
              </div><br><br>
              <div class="row">
                <% if policy(@user).update? %>
                  <div class="col-sm-4">
                    <%= link_to "Edit Profile", edit_user_path(@user), class: "btn" %>
                  </div>
                <% end %>
                <% if current_user.admin? && !@user.admin? %>
                  <div class="col-sm-4">
                    <%= form_tag user_path(@user), method: "patch" do %>
                      <%= hidden_field_tag "user[role]", "admin" %>
                      <%= submit_tag "Make Admin", class: "btn" %>
                    <% end %>
                  </div>
                <% end %>
                <% if policy(@user).update? %>
                  <div class="col-sm-4">
                    <%= link_to "Create New Tee Time", new_user_tee_time_path(@user), class: "btn" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br><br><br>
  <% if policy(@user).update? %>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h4>My Upcoming Tee Times:</h4>
        </div>
      </div><br>
      <% if @tee_times %>
        <div class="row">
          <%= render @tee_times %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
