<div class="col-lg-6 mx-auto">
  <div class="course-card">
    <a href="<%= course_path(course) %>">
      <h4><%= course.name %></h4>
      <p><%= course.location %></p>
      <div class="row">
        <div class="col-sm-6">
          <p><strong>Active Tee Times:</strong> <%= course.active_tee_times.size %></p>
        </div>
        <div class="col-sm-6">
          <p><strong>All-Time:</strong> <%= course.tee_times.size %></p>
        </div>
      </div>
    </a>
  </div>
</div>
