<%= form_for course do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-8 mx-auto">
          <%= check_for_errors(course.errors, [:name]) %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-11 mx-auto">
          <%= f.text_field :name, placeholder: "Name" %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 mx-auto">
          <%= check_for_errors(course.errors, [:description]) %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-11 mx-auto">
          <%= f.text_area :description, placeholder: "Description" %>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-8 mx-auto">
          <%= check_for_errors(course.errors, [:location]) %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-11 mx-auto">
          <%= f.text_field :location, placeholder: "Location" %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 mx-auto">
          <%= check_for_errors(course.errors, [:image]) %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-11 mx-auto">
          <%= f.text_field :image, placeholder: "Image URL (optional)"  %>
        </div>
      </div><br>
      <div class="row">
        <div class="col-sm-8 mx-auto">
          <%= check_for_errors(course.errors, [:par, :length, :price]) %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-11 mx-auto">
          <div class="row">
            <div class="col-4 mx-auto">
              <%= f.text_field :par, placeholder: "Par" %>
            </div>
            <div class="col-4 mx-auto">
              <%= f.text_field :length, placeholder: "Length" %>
            </div>
            <div class="col-4 mx-auto">
              <%= f.text_field :price, placeholder: "Price" %>
            </div>
          </div>
        </div>
      </div>
    </div><br>
  </div><br>
  <div class="row">
    <div class="col-sm-4 mx-auto">
      <%= f.submit class: "btn" %>
    </div>
  </div>
<% end %>
