<h1><%= @course.name %></h1>
<h3><%= @course.location %></h3>
<h3><%= @course.description %></h3>

<% if logged_in? %>
  <%= link_to "Create New Tee Time", new_course_tee_time_path(@course), class: "btn" %>
<% end %>

<% if @tee_times %>
  <div class="col-sm-9">
    <%= render @course.tee_times %>
  </div>
<% end %>
