<div class="container">
  <div class="row course-main">
      <div class="col-sm-8">
        <%= image_tag @course.get_image, class: "course-pic", id: "coursePic" %>
      </div>
      <div class="col-sm-4"><br><br><br>
        <div class="row <%= "hidden" if !@course.location %>" id="locationContainer">
          <div class="col-lg-4">
            <p><strong>Location:</strong></p>
          </div>
          <div class="col-lg-8">
            <p id="location"><%= @course.location %></p>
          </div>
        </div>
        <div class="row <%= "hidden" if !@course.par %>" id="parContainer">
          <div class="col-md-4">
            <p><strong>Par:</strong></p>
          </div>
          <div class="col-md-8">
            <p id="par"><%= @course.par.to_s %></p>
          </div>
        </div>
        <div class="row <%= "hidden" if !@course.length %>" id="lengthContainer">
          <div class="col-md-4">
            <p><strong>Length:</strong></p>
          </div>
          <div class="col-md-8">
            <p><span id="length"><%= @course.length.to_s %></span> yds</p>
          </div>
        </div>
        <div class="row <%= "hidden" if !@course.price %>" id="priceContainer">
          <div class="col-md-4">
            <p><strong>Fees:</strong></p>
          </div>
          <div class="col-md-8">
            <p>$<span id="price"><%= @course.price.to_s %></span></p>
          </div>
        </div>
        <% if policy(@course).update? %>
          <a href="<%= edit_course_path(@course) %>" class="btn right" id="courseEditBtn">
            <%= Octicons::Octicon.new("pencil").to_svg.html_safe %>
          </a>
        <% end %>
      </div>
      <div class="course-primary-info full-width mt-3">
          <h1 id="name"><%= @course.name %></h1><br>
          <p class="description" id="description"><%= @course.description %></p><br>
        </div>
    <% if policy(TeeTime.new).create? %>
      <div class="col-12 mx-auto">
        <%= link_to "Create New Tee Time", new_course_tee_time_path(@course), class: "btn", id: "createTeeTimeBtn" %>
      </div>
    <% end %>
    </div>
  </div><br>

  <div class="row">
    <div class="col-sm-2 col-5">
      <button type="button" data-id="<%= @course.id %>" name="button" class="btn half-width pt-2" id="prevBtn">
        <%= Octicons::Octicon.new("arrow-left", {width: 24, height: 24}).to_svg.html_safe %>
      </button>
    </div>
    <div class="col-sm-8 col-2"></div>
    <div class="col-sm-2 col-5">
      <button type="button" data-id="<%= @course.id %>" name="button" class="btn half-width pt-2" id="nextBtn">
        <%= Octicons::Octicon.new("arrow-right", {width: 24, height: 24}).to_svg.html_safe %>
      </button>
    </div>
  </div><br>

  <div class="row">
    <div class="col-sm-12 mx-auto">
      <h4>Upcoming Tee Times</h4>
    </div>
  </div><br>
  <div class="row" id="teeTimeCards">
  <% if @tee_times %>
    <%= render @tee_times %>
  <% end %>
  </div>
</div>

<script id="tee-time-template" type="text/x-handlebars-template">
  <div class="col-sm-6 hidden">
    <div class="tee-time-card">
      <a href="/tee_times/{{id}}">
        <h5>{{time_formatted}}</h5>
        <p>
          <strong>Size:</strong> {{group_size}}/4 |
          <strong>Avg. Pace:</strong> {{avg_pace}} |
          <strong>Avg. Experience:</strong> {{avg_experience}}
        </p>
      </a>
    </div>
  </div>
</script>
