<!DOCTYPE html>
<html>
  <head>
    <title>GolfLinks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# stylesheet_link_tag 'main' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <%= link_to "Golf Links", root_path %>
          </div>
          <div class="col-sm-3">
            <%= link_to "Courses", courses_path %>
          </div>
          <div class="col-sm-3">
            <a href="#">TBD</a>
          </div>
          <div class="col-sm-3">
            <%# binding.pry %>
            <% unless current_user.nil? %>
              <%= link_to current_user.username, user_path(current_user) if current_user %>
            <% else %>
              <%= link_to "Sign In", signin_path %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
