<!DOCTYPE html>
<html>
  <head>
    <title>GolfLinks</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="fixed-nav">
        <div class="row">
          <div class="col-sm-3">
            <%= link_to "Golf Links", root_path, class: "site-title" %>
          </div>
          <div class="col-sm-2">
            <%= link_to "Courses", courses_path %>
          </div>
          <div class="col-sm-2">
            <%= link_to "Tee Times", tee_times_path %>
          </div>
            <% unless current_user.nil? %>
              <div class="col-sm-2">
                <%= link_to "Create Tee Time", new_tee_time_path %>
              </div>
              <div class="col-sm-3">
                <a href="<%= user_path(current_user) %>" class="nav-user">
                  <%= image_tag current_user.image, class: "nav-pic" %>
                  <span><%= current_user.username %></span>
                </a>
              </div>
            <% else %>
              <div class="col-sm-2">
                <%= link_to "Sign Up", new_user_path %>
              </div>
              <div class="col-sm-3">
                <%= link_to "Log In", signin_path %>
              </div>
            <% end %>
          </div>
        </div>
    </nav>
    <div class="wrapper">
      <% if flash[:warning] %>
        <div class="container">
          <div class="row">
            <div class="col-sm-8 mx-auto">
              <h4 class="flash warning"><%= flash[:warning] %></h3>
            </div>
          </div>
        </div>
      <% end %>
      <% if flash[:confirmation] %>
        <div class="container">
          <div class="row">
            <div class="col-sm-8 mx-auto">
              <h4 class="flash confirmation"><%= flash[:confirmation] %></h3>
            </div>
          </div>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <footer>
      <div class="row">
        <div class="col-sm-3">
          <a href="/about" class="footer-link">About</a>
        </div>
        <div class="col-sm-6"></div>
        <div class="col-sm-3">
          <p id="footer-info">&copy; 2017 Golf Links</p>
        </div>
      </div>
    </footer>
  </body>
</html>
